@model Numeros
@{
    ViewData["Title"] = "M&M-Tabla";
}

<h3>Mayor y Menor</h3>
<div>
    <h6>El Numero Mayor es: @ViewData["NumMayor"]</h6>
    <h6>El Numero Menor es: @ViewData["NumMenor"]</h6>
</div>


<h3>Tabla Suma</h3>
<div>
    <label>Aquí irá la tabla de la suma de los valores ingresados</label>
</div>

